GITHUB_USERNAME=your-github-username
EXTRACTION_BUFFER_PATH=/data
GITHUB_TARGET_REPO=italia-corpus
ROOT_PATH=/data
GIT_AUTHOR_NAME=your-github-username
GIT_AUTHOR_EMAIL=your-github-username@users.noreply.github.com
GITHUB_TOKEN=your-fallback-github-token
GITHUB_TOKEN_1=your-first-github-token
GITHUB_TOKEN_2=your-second-github-token
GITHUB_TOKEN_N=your-nth-github-token #1 is enough